/* @import "normalize.css"; */
@import "base/_global";
@import "modules/_large-hero";
@import "modules/_profile__picture";
@import "modules/_experience";
@import "modules/_education";
@import "modules/_skills";

body {
  background: red;
}

#skills {
  /* margin-top: 50px; */
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #6C6C71;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 0;
  background: red;
  border: 1px solid black;
  width:100%;
  height:15vh;
}




  .experience-item {
    display: inline-block;
  }

  .row__medium-4 {
    float:left;
    width: 33.3%
  }

  .row__medium-8 {
    float:left;
    width: 66.6%
  }
